*{
    margin: 0;
    padding: 0;
}

header{
background-color: #f6f9f9;
}

.wrapper{
width: 80%;
margin: auto; 
}
.header_wrapper{
display: flex;
justify-content: space-between;
padding: 25px 0;
align-items: center;
background-color: #f6f9f9;
}

.logo{
width: 20%;
}

.logo img{
    
}

nav{
width: 50%;
}
nav ul{
list-style: none;
display: flex;
justify-content: end;

}
nav ul li{
margin-left: 50px;

}
nav ul li a{
text-decoration: none;
text-transform: uppercase;
color: #2d3950;
font-family: "Lato", sans-serif;
font-weight: 700;

}
.banner{
position: relative;
}
.banner img{
width: 100%;

}
.banner_content{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.banner_content h1{
color: #ffffff;
font-size: 80px;
text-transform: uppercase;
font-family: "Lato", sans-serif;
}

.banner_content span{
display: block;
height: 2px;
width: 100%;
background-color: #15a4fa;
}

.banner_content p{
color: #ffffff;
margin: 20px 0 50px;
font-size: 20px;
font-family: "Lato", sans-serif;
font-weight: 400;
}

.banner_content button{
background: transparent;
border: none;
border: 1px solid #15a4fa;
color: white;
text-transform: capitalize;
font-size: 18px;
padding: 10px 20px;
border-radius: 3px;
}

.banner_content button:hover{
background-color:#15a4fa;
transition: .5s all ease-in-out;
}

.icon{
position: absolute;
bottom: 100px;
left: 50%;
transform: translate(-50%, 0%);
color: #ffffff;
animation: updown 1s linear alternate infinite;
}

.simple_section{
text-align: center;
font-family: "Lato", sans-serif;
font-weight: 400;
background-color: #f6f9f9;
padding: 50px 0;
}

.simple_section h2{
text-transform: capitalize;
font-size: 30px;
color: #2d3950;
margin-bottom: 20px;
}

.simple_section p{
font-size: 20px;
line-height: 26px; 
color: #999999;
}

@keyframes updown{
    0%{
    bottom: 100px;
    }
    100%{
     bottom: 140px;

    }
}

.features{
display: flex;
justify-content: space-between;

}
.feature_section{
padding: 60px 0;
}

.feature_item{
width: 30%;
text-align: center;

}

.feature_item h2{
font-size: 22px;
font-weight: 600;
margin-bottom: 10px;
}

.feature_item p{

}
.icon_box{
height: 80px;
width: 80px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,48baff+50,5fc3ff+50,5fc3ff+100 */
background: linear-gradient(to right,  #48baff 0%,#48baff 50%,#5fc3ff 50%,#5fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: white;
font-size: 35px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;margin-bottom: 20px;
}
.works_section{
background-color: #f6f9f9;
padding: 80px 0;
}

.gallery h2{
font-size: 30px;
text-transform: capitalize;
font-weight: 600;
margin-bottom: 10px;
text-align: center;
}

.gallery p{
text-align: center;
}

.works{
margin-top: 50px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin: auto;
}

.single_work{
width: 30%;
margin-bottom: 30px;
margin-top: 20px;
position: relative;

}
.single_work img{
width: 100%;
display:block;
    
}
.single_work::before{
content:'';
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
background-color: #15a4fa;
opacity: 0;
transition: 0.4s all ease-in-out;
}

.single_work:hover::before{
opacity: 0.7;

}
.contact_section{
background-image: url(../images/Footer-Pic.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 70px 0 180px;
position: relative;
z-index: 0;
}

.contact_section::before{
content: '';
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #2d3950;
opacity: .8;
z-index: -1;

}
.contact_wrapper{
width: 40%;
margin: auto;
}
.contact_wrapper h2{
text-align: center;
color: #ffffff;
text-transform: capitalize;
font-size: 50px;

}
.contact_wrapper p{
text-align: center;
color: #ffffff;
margin: 10px 0 30px;

}
form{

}
form input{
width: 100%;
background: transparent;
border: none;
border: 1px solid #f6f9f9;
padding: 14px 5px;
margin-bottom: 15px;
border-radius: 3px;


}
form textarea{
width: 100%;
background: transparent;
border: 0;
border: 1px solid #ffffff;
padding: 14px 5px;
border-radius: 3px;
        
} 
.send_row{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 15px;
 
}

.send_row input[type='submit']{
width: auto;
padding: 20px 25px;
line-height: 0;
background-color: #15a4fa;
border: none;
color: #ffffff;
margin-bottom: 0;
}

.checkbox{
display: flex;
align-items: center;


}
.checkbox input[type='checkbox']{
margin: 0;
width: auto;
margin-right: 10px;

}
.checkbox p{
margin: 0;

}
.icon_list{
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
opacity: 0;
transition: .4s all ease-in-out;
}
.icon_list a{
color: white;
height: 40px;
width: 40px;
display: block;
border: 1px solid white;
justify-content: center;
align-items: center;
display: flex;
margin: 8px;
border-radius: 3px;
}

.icon_list a:hover{
background-color: #15a4fa;
border: #15a4fa;
}
.single_work:hover .icon_list{
opacity: 1;
top: 50%;
}
.footer {
background: rgb(249, 249, 249);
height: 90px;
}
.footer_main {
width: 70%;
margin: auto;
display: flex;
justify-content: space-between;
height: 100%;
align-items: center;
}
.copy_right p {
color: #999999;
}
.media {
width: 14%;
}
.media ul {
display: flex;
justify-content: space-between;
list-style: none;
padding: 0px;
margin: 0px;
}
.media ul li {

width: 35px;
height: 35px;
background: rgb(21, 164, 250);
text-align: center;
line-height: 35px;
border: 3px solid rgb(21, 164, 250);
border-radius: 5px;
font-size: 18px;
transition: 0.3s all ease-in-out;
    
}
.media ul li a {
color: white;
transition: 0.3s all ease-in-out; 
display: block;
}
.media ul li a:hover{
color:rgb(21, 164, 250);
    
}
.media ul li:hover{
background-color:transparent;
}